@charset "utf-8";
/* CSS Document */
#newsltr{
	margin:50px 0px;
}
#newsltr .modal-content{
	box-shadow: none;
}
.newsletterPopup .has-error label{
	color:#000 !important;
}
.newsletterPopup .modal-dialog{
	max-width:600px;
	width:100%;
	margin:20px auto;
}
.newsletterPopup .modal-content{
	border:1px solid #cbcbcb;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.newsletterPopup .modal-inner{
	border:1px solid #cbcbcb;
	background-color: rgba(255,255,255,0.90);
}
.newsletterPopup .modal-header{
	border-bottom:none;
	padding-bottom: 0px;
}
.newsletterPopup .modal-title{
	font-size: 24px;
	color:#ea3f31;
	text-transform: uppercase;
}
.newsletterPopup .modal-header p{
	text-align: center;
}
.newsletterPopup .containerButton{
	padding-top: 0px;
}
.newsletterPopup .containerButton button{
	display:block;
	margin-bottom:15px;
	width:100%;
}
.newsletterPopup .textbutton, 
.newsletterPopup .textbutton:focus,
.newsletterPopup .textbutton:hover,
.newsletterPopup .textbutton:active{
	background: transparent;
	color:#777;
	margin-bottom:0px !important;
}
.newsletterPopup .textbutton:active{
	box-shadow:none;
	border:none;
}
.newsletterPopup .checkbox{
	text-align: center;
}
@media (max-width: 767px) {
	.newsletterPopup .modal-title{
		font-size: 18px;
	}
	.newsletterPopup .modal-dialog{
		max-width:300px;
	}
	.newsletterPopup .modal-content{
		padding:0px;
		background-image: none;
	}
	.newsletterPopup .modal-header p{
		font-size: 12px;
	}
	
}
@media (min-width: 768px) {
	.newsletterPopup .modal-content{
		padding: 50px;
		background-image: url(../images/newsletter-bgnd.png);
		background-repeat: repeat;
	}
	
}