.edit .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.edit .left {
    max-width: 500px;
}

.edit form {
    max-width: 500px;
}

.edit .alert-container {
    margin: 0.9375rem 0rem;
}

@media screen and (min-width: 992px) {
    .edit .content {
        flex-direction: row; 
    }
}