.sidebar {
    height: 100vh;
    border-right: 1px solid #eee;
}

.sidebar section {
    border-bottom: 1px solid #eee;
}

.sidebar section {
    margin: 1rem 1rem;
}

.sidebar section > div {
    margin: 1rem 0rem;
}

.sidebar .top {
    display: block;
    margin-top: 0.938rem;
}

.sidebar ul {
    margin: 0rem;
    padding: 0rem;
}

.sidebar ul li {
    display: block;
    margin-bottom: 0.625rem;
}

.sidebar ul li:last-child {
    margin-bottom: 0rem;
}

.sidebar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.938rem;
    font-size: 1rem;
    text-decoration: none;
}

.sidebar a > .icon {
    margin-right: 0.625rem;
}

.sidebar .top a {
    display: block;
    padding: 0.938rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.sidebar h3 {
    font-size: 0.813rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #aaa;
}

