.hero-container {
    font-size: 1rem;
}
@media screen and (min-width:992px) {
    .hero-container {
        background-image: url('../../assets/images/hero-image.png');
        background-position: right center;
        background-repeat: no-repeat;
        min-height: 436px;
    }
}

.hero-description {
    max-width: 350px;
    margin: 0px auto;
}
@media screen and (min-width: 551px) {
    .hero-description {
        max-width: 550px;
    } 
}

.hero-header, .hero-links {
    margin: 1rem 0rem;
}

.hero-links {
    display: grid;
}

.hero-header p {
    font-size: 1.25rem;
}
.hero-header p:last-child{
    margin-bottom:0rem;
}

p.hero-text-lg {
    font-size: 1.75rem;
    font-weight: 700;
}

.hero-description {
    margin-top: 3rem;
}
.hero-description p {
    margin: 0rem;
}
.hero-description .design-icons-container {
    margin: 1rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.hero-description .design-icons-container > svg {
    font-size: 2.0rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.icon-creative-cloud {
    color: #DB1F29;
}
.icon-photoshop {
    color: #051e35;
    background-color: #4ea7fa;
}
.icon-illustrator {
    color: #2f0401;
    background-color: #f49f2f;
}
.icon-after-effects {
    color: #000458;
    background-color: #979bfa;
}
.icon-premiere {
    color: #000458;
    background-color: #979bfa;
}


@media screen and (max-width:991px) {
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-links{
        margin-bottom: 3rem;
    }
    .hero-description .design-icons-container {
        justify-content: center;
    }
}

.hero-image-tablet-mobile {
    display: none;
    margin: 1rem 0rem;
}
@media screen and (min-width: 528px) and (max-width: 991px) {
    .hero-image-tablet-mobile {
        width: 527px;
        height: 436px;
        display: block;
        margin:0px auto;
        background-image: url('../../assets/images/hero-image.png');
    }
}
@media screen and (max-width: 527px) {
    .hero-image-tablet-mobile {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 82.73%;
        background-image: url('../../assets/images/hero-image.png');
        background-size: 100% 100%;
    }
}

