.col-sticky {
    position: fixed;
    top: 3.55rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
}
.col-main {
    margin-top: 2rem;
}

@media screen and (min-width: 992px) {
    .col-sticky {
        max-width: 160px;
        top: 5rem;
    }
    .col-main {
        padding-left: 200px;
    }
} 