:root, [data-bs-theme=light] {
    --bs-tertiary-bg-rgb: 255,255,255;
}

.navbar {
    --bs-navbar-color: #000;
    --bs-navbar-padding-x: 0rem;
    --bs-navbar-padding-y: 0rem;
    --bs-navbar-toggler-border-color: #6d64e8;
    --bs-navbar-toggler-transition: none;
    --bs-navbar-toggler-focus-width: 0.05rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28109, 100, 232, 0.75%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

@media screen and (max-width: 991px) {
    .navbar {
        --bs-navbar-padding-y: 0.5rem;
    }
}

.navbar-nav {
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-padding-x: 1rem;
    --bs-navbar-nav-link-padding-x: 1.75rem;
    --bs-nav-link-font-size: 1.125rem;
    --bs-nav-link-font-weight: 700;
    --bs-navbar-hover-color: #6d64e8;
}

a.nav-link:link, a.nav-link:visited {
    border-bottom: 1px solid transparent;
}

a.nav-link:hover, a.nav-link:active {
    border-bottom: 1px solid #6d64e8;
}

a.nav-link.active:link, a.nav-link.active:visited,
a.nav-link.active:hover, a.nav-link.active:active {
    color: #6d64e8;
    background-color: rgba(109, 100, 232, 0.04);
}

.navbar-toggler {
    background-color: #f0effd;
}

.navbar-toggler.collapsed {
    --bs-navbar-toggler-focus-width: 0rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .nav-link-small {
        display: none;
    }
}