article h1 {
    margin-bottom: 3rem;
    color: #6d64e8;
    text-align: center;
}

.post-item p {
    margin-bottom: 0rem;
}

.post-item p:last-child {
    margin-bottom: 1rem; 
}

.post-item p > span {
    font-weight: 700;
}

.container-buttons-inline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    margin: 2rem 0rem;
}

.scroll-container {
    position: relative;
}

@media screen and (min-width: 992px) {
    article h1 {
        text-align: left;
    }
    .container-buttons-inline {
        flex-direction: row;
        justify-content: flex-start;
        gap: 0.5rem;
    }
}




