.single .details {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.single .details > .details-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.single .details > .details-item > .item-key {
    font-weight: 700;
}

.single form {
    max-width: 500px;
}